.enhance {
    align-content: center;
    max-width: 500px;
    margin-left: 30%;
    position: absolute; 
}

#gis-check {
    text-align: center;
    margin-top: 50px;
    background: whitesmoke;
    max-width: 500px;
    padding: 20px;
}

.info {
    font-size: 200%;
}

.userInput {
    width: 450px;
    height: 50px;
    font-size: 150%;
    border-style: groove; 
}

#responseInfo {
    color: green;
    font-size: 180%;
}

#google-map {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#header {
    border: 0px;
    border-bottom: 2px;
    border-bottom-color: black;
    border-style: solid;
}
  